## 2021: Week 29 - PD x WOW - Tokyo 2020 Calendar

Challenge by Tom Prowse with collaboration with the Workout Wednesday team!

This week is time for our annual get together with Workout Wednesday for a joint challenge so that you can have a full data prep to visualisation solution. 

Unfortunately the Olympics was postponed in 2020, so for last year's collaboration we looked at historical winners through the history of the games. However, this year, Japan 2020 is going ahead so we thought it would be the perfect time to create an event calendar to help us keep track of the events that we don't want to miss. 

### Inputs
The data comes from the Olympics website. (Note; this was taken on Wednesday 14th July so the schedule for some events may have changed since!).

1. Event Schedule

A list of all the event dates, times and locations throughout the games

2. Venue Details

A list of all of the different venue locations

### Requirements
- Input the Data 
- Create a correctly formatted DateTime field 
- Parse the event list so each event is on a separate row 
- Group similar sports into a Sport Type field 
- Combine the Venue table 
- Calculate whether the event is a 'Victory Ceremony' or 'Gold Medal' event. (Note, this might not pick up all of the medal events.)
- Output the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_excel("./data/Olympic Events.xlsx", sheet_name=["Olympics Events", "Venues"])
olympics = data["Olympics Events"].copy()
venues = data["Venues"].copy()

C:\Users\HYUNJUN\anaconda3\envs\deep-learning-gpu\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [5]:
olympics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    709 non-null    object
 1   Time    709 non-null    object
 2   Sport   709 non-null    object
 3   Venue   709 non-null    object
 4   Events  709 non-null    object
dtypes: object(5)
memory usage: 27.8+ KB

In [6]:
olympics.head()

,Date,Time,Sport,Venue,Events
0,21st_July_2021,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"Australia vs Japan, Italy vs United States, Me..."
1,21st_July_2021,8:30,Football,Sapporo Dome,"Women's Group E: Great Britain vs Chile, Women..."
2,21st_July_2021,9:00,Football,Miyagi Stadium,"Women's Group F: China vs Brazil, Women's Grou..."
3,21st_July_2021,9:30,Football,Tokyo Stadium,"Women's Group G: Sweden vs United States, Wome..."
4,22nd_July_2021,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"United States vs Canada, Mexico vs Japan, Ital..."

In [7]:
venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Venue     59 non-null     object
 1   Sport     59 non-null     object
 2   Location  59 non-null     object
dtypes: object(3)
memory usage: 1.5+ KB

In [8]:
venues.head()

,Venue,Sport,Location
0,Olympic Stadium,Opening Ceremony,"35.67786383266573, 139.71366292613558"
1,Olympic Stadium,Closing Ceremony,"35.67786383266573, 139.71366292613558"
2,Olympic Stadium,Athletics,"35.67786383266573, 139.71366292613558"
3,Olympic Stadium,Football,"35.67786383266573, 139.71366292613558"
4,Tokyo Metropolitan Gymnasium,Table Tennis,"35.679538129089025, 139.71224149090568"

In [83]:
# Create a correctly formatted DateTime field
import re
date_time = olympics["Date"].str.split("_").apply(pd.Series)

def find_numbers(x):
    pattern = re.compile("[0-9]")
    result = pattern.findall(x)
    result = "".join(result)
    return result

date_time[0] = date_time[0].map(lambda x: find_numbers(x))
date_time = date_time[0] + "/" + date[1] + "/" + date[2]
date_time

0       21/July/2021
1       21/July/2021
2       21/July/2021
3       21/July/2021
4       22/July/2021
           ...
704    8/August/2021
705    8/August/2021
706    8/August/2021
707    8/August/2021
708    8/August/2021
Length: 709, dtype: object

In [85]:
olympics["Date"] = pd.to_datetime(date_time)
olympics

,Date,Time,Sport,Venue,Events
0,2021-07-21,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"Australia vs Japan, Italy vs United States, Me..."
1,2021-07-21,8:30,Football,Sapporo Dome,"Women's Group E: Great Britain vs Chile, Women..."
2,2021-07-21,9:00,Football,Miyagi Stadium,"Women's Group F: China vs Brazil, Women's Grou..."
3,2021-07-21,9:30,Football,Tokyo Stadium,"Women's Group G: Sweden vs United States, Wome..."
4,2021-07-22,1:00,Baseball/Softball,Fukushima Azuma Baseball Stadium,"United States vs Canada, Mexico vs Japan, Ital..."
...,...,...,...,...,...
704,2021-08-08,5:40,Water Polo,Tatsumi Water Polo Centre,Men's Bronze Medal Match
705,2021-08-08,6:00,Boxing.,Kokugikan Arena,"Women's Light (57-60kg) Final, Men's Light (57..."
706,2021-08-08,7:00,Handball,Yoyogi National Stadium,Women's Gold Medal Match
707,2021-08-08,8:30,Water Polo,Tatsumi Water Polo Centre,Men's Gold Medal Match
708,2021-08-08,12:00,Closing Ceremony,Olympic Stadium,-

In [60]:
# Parse the event list so each event is on a separate row

      0       1     2
0    21    July  2021
1    21    July  2021
2    21    July  2021
3    21    July  2021
4    22    July  2021
..   ..     ...   ...
704   8  August  2021
705   8  August  2021
706   8  August  2021
707   8  August  2021
708   8  August  2021

[709 rows x 3 columns]

In [47]:
"".join(["2", "1"])

'21'